body {
  max-width: 600px;
  margin: 0 auto;
}

img {
  display: block;
}

img.centered {
  margin: 0 auto 0 auto;
}

img.float-right {
  float: right;
  margin-left: 20px;
}

p.wrapless {
  clear: both;
}

p.indented {
  text-indent: 1.25em;
  font-style: italic;
  font-weight:bold;
  color: #333;
}

p, ul {
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  line-height: 1.3em;
  letter-spacing: .01em;
  font-weight: 400;
}

li {
  margin: 0.75em;
}

ul {
  margin: 0 0.75em 0 0.75em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  color: gray;
}

a:hover {
  color: orange;
}

/*
a:visited {
  color: blue;
  text-decoration: none;
}
*/
