body {
  max-width: 600px;
  margin: 0 auto;
}

img {
  display: block;
}

img.centered {
  margin: 0 auto 0 auto;
}

img.float-right {
  float: right;
  margin-left: 20px;
}

p.wrapless {
  clear: both;
}

p.indented {
  text-indent: 1.25em;
  font-style: italic;
  font-weight:bold;
  color: #333;
}

p, ul, ol, table, form {
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  line-height: 1.3em;
  letter-spacing: .01em;
  font-weight: 400;
}

li {
  margin-bottom: 0.75em;
}

ul, ol {
  margin: 0 0.75em 0 0.75em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  color: gray;
}

a:hover {
  color: orange;
}

/*
a:visited {
  color: blue;
  text-decoration: none;
}
*/

ol.special-list {
  list-style-type: square;
}

div#special-div p {
  font-size: 2em;
}

td {
  padding: .25em;
}

p.spaced {
  margin-top: 3em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: .25em;
}

table#minimized-table {
  width: 75%;
  text-align: center;
}

tr.highlighted {
  background-color: lightgrey;
}

input[type="text"], textarea {
  font-size: 2em;
  padding: 3px;
}

/*
This is a multiline comment. It appears like this because it was meant to
appear like this. It should make sense.
*/

div.special {
  width: 20%;
  margin: 0 auto 0 auto;
  background-image: url("http://www.asmarterwaytolearn.com/gray-gradient-slice.png");
  background-repeat: repeat-x;
}

div#d1 {
  width: 60%;
  float: left;
  border: 1px solid black;
}

div#d2 {
  width: 28%;
  float: right;
  border: 1px solid black;
}

#d1, #d2 {
  padding: 10px;
}

div#header {
  width: 100%;
  /*position: absolute;*/
  position: fixed;
  top: 0;
  left: 0;
  color: lightblue;
  z-index: -1;
}

div#header img {
  float: left;
  margin: 1em;
}

div#nav {
  clear: both;
  list-style-type: none;
  /*background-color: #333;*/
  /*display: inline-block;*/
  width: 100%;
}

div#nav ul {
  list-style-type: none;
  padding-left: 0;
}

div#nav ul li a {
  font-size: 1.1em;
  font-weight: 900;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  color: white;
  display: block;
  padding: .35em;
}

div#nav ul li {
  /*background-color: #333;*/
  /*padding: 0 1em 0.3em 1em;*/
  display: inline;
  width: 19%;
  float: left;
  margin-right: .5em;
}

li.changeBackground {
  background-color: grey;
}

li.changeBackground:hover {
  background-color: lightblue;
}

li.changeBackground:active {
  background-color: darkblue;
}
