/** {
  padding: 0;
  margin: 0;
}*/
canvas {
  background: #eee;
  display: block;
  margin: 1em auto 1em auto;
}
body {
  margin: 1em auto 1em auto;
}

button {
  display: block;
  margin: 1em auto 1em auto;
}
